* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

#app {
    margin: 20px auto;
    width: 300px;
    background-color: aliceblue;
    text-align: center;
    line-height: 100px;
}