* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}

#app {
    margin: 20px auto;
    width: auto;
    background-color: skyblue;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
}