<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--1.导入Vue.js-->
    <script src="js/vue.js"></script>
</head>


<body>
    <!--view层，模板-->
    <div id="vue">
        <todo>
            <todo-title slot="todo-title" v-bind:title="title"></todo-title>
            <!--<todo-items slot="todo-items" v-for="{item,index} in todoItems" v-bind:item="item"></todo-items>-->
            <!--如下为简写-->
            <todo-items slot="todo-items" v-for="item in todoItems" :item="item"></todo-items>
        </todo>
    </div>
</body>
<script type="text/javascript">
    Vue.component('todo', {
        template: '<div>\
<slot name="todo-title"></slot>\
<ul>\
<slot name="todo-items"></slot>\
        </ul>\
        </div>'
    });
    Vue.component('todo-title', {
        props: ['title'],
        template: '<div>{{title}}</div>'
    });
    //这里的index，就是数组的下标，使用for循环遍历的时候，可以循环出来！
    Vue.component("todo-items", {
        props: ["item"],
        template: "<li>{{item}}</li>"
    });
    var vm = new Vue({
        el: "#vue",
        data: {
            title: "cvzhanshi study java",
            todoItems: ['test1', 'test2', 'test3']
        }
    });
</script>

</html>