<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据双向绑定-多个复选框</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="checkbox" id="one" value="1" v-model="checkedNames">
        <label for="">第一个框</label>
        <input type="checkbox" id="john" value="2" v-model="checkedNames">
        <label for="">第二个框</label>
        <input type="checkbox" id="mike" value="3" v-model="checkedNames">
        <label for="">第三个框</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            checkedNames: []
        }
    });
</script>

</html>